@using Zork_BR.Models
@model Zork_BR.ViewModels.StoryViewModel

@{
    ViewBag.Title = "Nama";
}   

    <div id="gamescreen" class="container">
        <pre class="textField col-xs-10" id="textField">
@Model.StoryText
        </pre>
        <table id="minimap" class=".col-xs-2">
            <tr class="tableRow">
                <td class="tableCel">
                    @Html.Raw(@Model.ImageFogOfWar)
                </td>
                <td class="tableCel">
                    @Html.Raw(@Model.ImageFogOfWar)
                </td>
                <td class="tableCel">
                    @Html.Raw(@Model.ImageNorthNorth)
                </td>
                <td class="tableCel">
                    @Html.Raw(@Model.ImageFogOfWar)
                </td>
                <td class="tableCel">
                    @Html.Raw(@Model.ImageFogOfWar)
                </td>
            </tr>
            <tr class="tableRow">
                <td class="tableCel">
                    @Html.Raw(@Model.ImageFogOfWar)
                </td>
                <td class="tableCel">
                    @Html.Raw(@Model.ImageNorthWest)
                </td>
                <td class="tableCel">
                    @Html.Raw(@Model.ImageNorth)
                </td>
                <td class="tableCel">
                    @Html.Raw(@Model.ImageNorthEast)
                </td>
                <td class="tableCel">
                    @Html.Raw(@Model.ImageFogOfWar)
                </td>
            </tr>
            <tr class="tableRow">
                <td class="tableCel">
                    @Html.Raw(@Model.ImageWestWest)
                </td>
                <td class="tableCel">
                    @Html.Raw(@Model.ImageWest)
                </td>
                <td class="tableCel" id="playerCel">
                    @Html.Raw(@Model.ImageCurrent)
                    <span class="playerLocation">&#10006;</span>
                </td>
                <td class="tableCel">
                    @Html.Raw(@Model.ImageEast)
                </td>
                <td class="tableCel">
                    @Html.Raw(@Model.ImageEastEast)
                </td>
            </tr>
            <tr class="tableRow">
                <td class="tableCel">
                    @Html.Raw(@Model.ImageFogOfWar)
                </td>
                <td class="tableCel">
                    @Html.Raw(@Model.ImageSouthWest)
                </td>
                <td class="tableCel">
                    @Html.Raw(@Model.ImageSouth)
                </td>
                <td class="tableCel">
                    @Html.Raw(@Model.ImageSouthEast)
                </td>
                <td class="tableCel">
                    @Html.Raw(@Model.ImageFogOfWar)
                </td>
            </tr>
            <tr class="tableRow">
                <td class="tableCel">
                    @Html.Raw(@Model.ImageFogOfWar)
                </td>
                <td class="tableCel">
                    @Html.Raw(@Model.ImageFogOfWar)
                </td>
                <td class="tableCel">
                    @Html.Raw(@Model.ImageSouthSouth)
                </td>
                <td class="tableCel">
                    @Html.Raw(@Model.ImageFogOfWar)
                </td>
                <td class="tableCel">
                    @Html.Raw(@Model.ImageFogOfWar)
                </td>
            </tr>
        </table>
    </div> 
<!--
    <table id="fullMap">
        @*Html.Raw(Model.GetMap)*@
    </table>
-->
    
    <div class="navbar-fixed-bottom">
        <form action='@Url.Action("Index","Home")' method="post" autocomplete="off">
            <button type="submit" id="sendBtn" class="btn btn-primary">Send</button>
            <input id="inputField" name="input" type="text" class="form-control" autofocus />
            @Html.Hidden("id", Model.Id)
        </form>
    </div>